data/intersections filter=lfs diff=lfs merge=lfs -text
data/overlays filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_narrowing_downwards.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_triangle_in_triangle.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_grid_lines_with_single_oblique.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_parallels_intersect_oblique.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/rand1.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/sample_test.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/sample_test2.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/star_at_origin.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_coordinate_axes_1.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_not_intersecting_but_close.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_origin_intersect_1.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_origin_intersect_2.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_butterfly.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_vertical_parallel.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/oblique_parallel_lines.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/parallel_lines.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/complicated_sample_test.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_another_nested_y.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_close_parallel_lines.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_horizontal_parallel.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_nested_y.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/sample_test1.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/sample_test4.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_origin_intersect_3.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_star.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_vertical_oblique_cross.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/sample_test3.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_coordinate_axes_2.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_coordinate_axes_3.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_disappointed_face.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/edge_case_horizontal_oblique_cross.txt filter=lfs diff=lfs merge=lfs -text
data/overlays/test filter=lfs diff=lfs merge=lfs -text
data/overlays/grid filter=lfs diff=lfs merge=lfs -text
data/overlays/polygons filter=lfs diff=lfs merge=lfs -text
data/overlays/rectangles filter=lfs diff=lfs merge=lfs -text
data/overlays/simple filter=lfs diff=lfs merge=lfs -text
data/overlays/state filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_maze.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_degenerate_colinear_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_degenerate_duplicates_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_cross_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_crosshatch_02.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_spiro_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_circle_zigzag.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_line.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_bowtie_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_crosshatch_03.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_suzzane.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_square.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_circle.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/multi_horizontal_test.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/polygon_approx_test.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_degenerate_colinear_02.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_degenerate_zero_length_02.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_crosshatch_04.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_scribble_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_none_circle_2x.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_degenerate_zero_length_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_bowtie_circle_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_crosshatch_01.txt filter=lfs diff=lfs merge=lfs -text
data/intersections/test_isect_scatter_01.txt filter=lfs diff=lfs merge=lfs -text
